html {
  min-height: 100vh;
}

body {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

section {
  min-height: 100vh;
  background-color: #555;
  display: flex;
  overflow: hidden;
}

nav {
  height: 45px;
  line-height: 40px;
}

li {
  width: 100%;
}

.input-field label {
  color: #666;
}

.input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label {
  width: calc(110% - 3rem - 1.5rem)
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fff;
}

.input-field input[type=password]:focus + label {
  color: #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #00e524;
  box-shadow: 0 1px 0 0 #009917;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #00e524;
  box-shadow: 0 1px 0 0 #009917;
}

.input-field .prefix.active {
  color: #fff;
}

.validate {
  color: #fff;
}

.navbar-fixed {
  position: absolute;
  margin-top: 0;
}

.name {
  margin-left: 10px;
}

.grey-project-container {
  width: 100%;
  height: 55.5px;
  border-bottom: 1px solid black;
}

.projects {
  border-radius: 0px;
  box-shadow: 0px;
  width: 60%;
  display: inline-block;
}

.project-id {
  display: none;
}

.btn-floating {
  float: right;
  border-radius: 0px;
}

.data-checkbox {
  width: 50px;
  height: 50px;
  background-color: #171717;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  line-height: 45px;
  height: 20px;
  min-width: 20px;
}

.row .col {
  padding: 0;
}

.custom-color[type="checkbox"].filled-in:checked + label:after{
  border: 2px solid #ff9800;
  background-color: #ff9800;
}

.p-checkbox {
  width: 20px;
  height: 20px;
}

.d-email-me {
  width: 300px;
  height: 100px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 85%;
}

.d-description {
  border-top: 2px solid black;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

.d-link {
  border-top: 2px solid black;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

.collapsible {
  margin: 0;
}

.collapsible-header {
  background-color: #999;
  border-bottom: 2px solid #ddd;
}

.collapsible-body {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: baseline;
}

.collapsible-body p {
  height: 50px;
  display: flex;
  align-items: center;
}

.btn, .btn-large {
  background-color: #8bc34a;
}

.btn:hover, .btn-large:hover {
  background-color: #b5d98c;
}

.generalbutt {
  font-size: 70%;
  background-color: #00b21c;
}

.generalbutt:hover {
  background-color: #00e524;
}

.d-description {
  overflow: scroll;
}

.dataset-id {
  display: none;
}

.dataset-domain {
  display: none;
}

.btn-floating.btn-large.delete-dataset i {
  line-height: normal;
}

.delete-dataset {
  width: 45px !important;
  height: 45px !important;
  box-shadow: none;
  background-color: #999;
}

.delete-dataset i {
  font-size: 45px;
}

.delete-dataset:hover {
  background-color: #e60000;
}

.edit-project {
  border-radius: 0px;
  box-shadow: 0px;
  display: inline-block;
  color: black;
  background-color: #c3814b;
  width: 20%;
  height: 54px;
}

.edit-project:hover {
  background-color: #c3814b;
}

.edit-project i {
  margin-left: -10px;
}

.delete-project {
  border-radius: 0px;
  box-shadow: 0px;
  display: inline-block;
  color: black;
  background-color: #c34b4b;
  width: 20%;
  height: 54px;
}

.delete-project:hover {
  background-color: #c34b4b;
}

.delete-project i {
  margin-left: -10px;
}

.project-description {
  display: none;
}

.starting-prompt {
  font-size: 15px;
}

#project-name-above {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 52px;
  width: 66.6666666667%;
  background-color: #8bc34a;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 0;
  border-bottom: 2px solid black;
}

#project-name-above-p {
  margin-left: 5px;
  margin-top: -5px;
}

#project-desc-above {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 0;
  height: 50px;
  width: 66.6666666667%;
  font-size: 20px;
  font-weight: lighter;
  background-color: #8bc34a;
  color: white;
  overflow: scroll;
}

#project-desc-above-p {
  margin-left: 5px;
  margin-top: 10px;
}

#prompt {
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #171717;
  margin-top: 9%;
  margin-right: auto;
  margin-left: auto;
  height: 70vh;
  width: 100vh;
  color: white;
}

#prompt .row {
  margin-top: 10%;
}

#logout {
  border: 2px solid white;
}

#projects {
  text-align: center;
  width: 100%;
  height: 100%;
}

#project-list {
  width: 25%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #222;
  border-right: 3px solid #00e524;
  overflow-y: scroll;
  display: inline-block;
}

#new-project {
  background-color: #ddd;
  border-bottom: 2px solid black;
  margin-top: 45px;
  height: 57.5px;
}

#new {
  margin-left: 5px;
  font-weight: bold;
  display: inline-block;
  color: #555;
  width: 100px;
}

#new-dataset {
  width: 100%;
  height: 57.5px;
  background-color: #ddd;
  border-bottom: 2px solid black;
  display: inline-block;
}

#new-dataset-p {
  width: 100px;
  display: inline-block;
  color: #555;
  font-weight: bold;
  float: right;
}

#datasetSearch {
  float: right;
}

#info-container {
  align-items: stretch;
  float: right;
  margin-top: 45px;
  width: 75%;
  min-height: 100%;
}

#sub-container {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: white;
  height: 60vh;
  overflow-y: scroll;
}

#selectordiv {
  display: inline-block;
  background-color: white;
  height: 60vh;
}

#delete-collapse-header {
  color: white;
  background-color: #555;
}

#delete-collapse-body {
  color: white;
  background-color: #888;
}

#check-delete {
  width: 200%;
}

#project-change-container {
  display: inline-block;
  margin-top: 10%;
}

#edit-project-name {
  color: black;
}
