body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #171717
}

main {
  flex: 1 0 auto;
}

nav div ul li a {
  color: white;
}

footer.page-footer {
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  height: 45px;
  line-height: 40px;
  position: absolute;
}

.navbar-fixed {
  position: absolute;
  margin-top: 0;
}

.parallax-window {
  min-height: 600px;
  background: #171717;
}

.navbar-wrapper {
  box-shadow: 0px;
}

.nav-button-container {
  background-color: white;
}

.app-desc {
  color:white;
  text-align: justify;
}

.app-question {
  color: white;
  border-bottom: #00e524;
  border-bottom-style: solid;
}

.material-icons {
  color: white;
}

.custom-green {
  color: #00e524;
}

.white-text {
  border-bottom: #00e524;
  border-bottom-style: solid;
}

.name {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

#section {
  background-color: #171717;
}

#landing-body {
  margin-top: 10px;
  text-align: center;
}

#nav-button1 {
  background-color: rgb(55, 71, 79);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 1px solid white;
}

#nav-button2 {
  background-color: rgb(55, 71, 79);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 1px solid white;
  border-right: 2px solid white;
}

#parallaximg {
  background-color: #171717;
  opacity: 0.10;
}
